/node_modules
/public/hot
!/public/images/bg.jpg
/public/storage
/public/product_images
/public/producs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laravel-docker/.env
.DS_Store

.idea/PSGeneralDrugCentreKafka.iml
.idea/php.xml
public/.DS_Store
public/products/
storage/.DS_Store
**/.DS_Store